<head>
    <title>Accueil</title>
    <base href="/">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="css/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/css/search_style.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script language="JavacScript" type="text/javascript">
        var xMLHttpRequest = new XMLHttpRequest(); 
        function findTutorials(){
            xMLHttpRequest.open("GET", "/AjaxServlet?topicName=" + document.getElementById("topicName").value, true);
            xMLHttpRequest.onreadystatechange = processTutorials;
            xMLHttpRequest.send(null);
        }
        function processTutorials(){
            if(xMLHttpRequest.readyState == 4 && xMLHttpRequest.status == 200) {
                var JSONTopicState = eval('(' + xMLHttpRequest.responseText + ')');
                var table = document.getElementById("tutorialsTable");
                table.innerHTML = "";
                var headrow = table.insertRow(0);
                var headCell = headRow.insertCell(0);
                headCell.style.backgroundColor = "lightblue";
                headCell.innerHTML = JSONTopicObject.topic.name;
                var tutorials = JSONTopicObject.topic.tutorial;
                var i=0;
                while(i<tutorials.length){
                    row = table.insertRow(i+1);
                    cell = row.insertCell(0);
                    cell.innerHTML = tutorials[i++].name;
                } 
            }
        }
    </script>

</head>

    <form action="/users/logout" method="¨POST">
            <header>
            <a href = "home.html" <i class="fa fa-home" aria-hidden="true"></i> </a>
            <a href = "search.html" <i class="fa fa-search" aria-hidden="true"></i> </a>
            <a href = "likes.html" <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
            <a href = "profile.html" <i class="fa fa-user-o" aria-hidden="true"></i> </a>
            <button class="w3-button w3-circle" id="side_O"></button>
        </header>
        <div>
            <!-- PARTIE TEST -->
            <input type="text" id="topicName" size="20"/>
            <button type="button" onClick="findTutorials();" id="btn_topic">Find</button><br/>
            <!-- PARTIE TEST -->
            <section class="container">
        <div class="card">
            <div class="card-header">
                <div class="profile-log">

                </div>
                <div class="profile-info">
                    <div class="name">Nom</div>
                    <div class="location">Nantes, France</div>
                </div>
                <div class="time">
                    Hier
                </div>
                <div class="profile-separator">
                </div>
            <div/>
            <div class="content">
                <img src="/images/paysage.jpg">
            </div>
            <div class="card-footer">
                <div class="likes">
                    107 likes
                </div>
                <div class="profile-separator">
                </div>
                <div class="description">
                    <p>
                        <span class="username">User19</span><p>c'est beau</p>
                    </p>
                </div>
                <div class="profile-separator">
                </div>
                <div class="commentContainer">
                    <div class="comments">
                        <p>
                            <span class="username">User18</span> <p>...</p>
                        </p>
                        <p>
                            <span class="username">User19</span> <p>Hmmm.</p>
                        </p>

                    </div>
                </div>
                <div class="profile-separator">
                </div>
                <div class="form">
                    <div class="heart">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                    <div class="add-comment">
                        <input type="text" placeholder="Commentez la publication..."/>
                    </div> 
                    <div class="options">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>

                </div>
            </div>

        </div>
    </section>
            
    </form>
