<head>
  <link rel="stylesheet" type="text/css" href="/css/login_style.css">
</head>
 <% include ./partials/messages %>
<form action="/users/login" method="POST">
  <div class="imgcontainer" id="img_container">
    <img src="/images/inta.png" alt="Logo" class="logo">
    <p id="title">TinyInsta</p>
    <p id="title2">Connexion</p>
    <div id="pass_forgot">
        <img src="/images/fp.png" alt="Logo" class="fp">
      <a href="https://ih0.redbubble.net/image.333132378.7982/aps,650x642,small,transparent-pad,750x1000,f8f8f8.u1.jpg" id="link2">Mot de passe oublié</a>
  </div>
  <div id="register">
        <img src="/images/singup.png" alt="Logo" class="signup">
      <a href="/users/register" id="link">Nouveau compte ?</a>
  </div>
      <div class="container">
        <input type="text" placeholder="Pseudo/Adresse mail" name="email" required id="email">
        <input type="password" placeholder="Mot de passe" name="password" required id="password">
        <script>
          document.getElementById('mail').setCustomValidity('Veuillez saisir votre adresse mail');
          document.getElementById('pass').setCustomValidity('Veuillez saisir votre mot de passe');
        </script>
        <img src="/images/lock.png" alt="Logo" class="lock">
        <img src="/images/username.png" alt="Logo" class="username">
        <button type="submit">login</button>
      </div>
  </div>
</form>
    <div id="bas_de_page">
        <div id="text_bas_de_page">
            <a href="https://www.w3schools.com/html/">À propos</a>
            <a href="https://www.w3schools.com/html/">Centre d'assistance</a>
            <a href="https://www.w3schools.com/html/">Blog</a>
            <a href="https://www.w3schools.com/html/">État du service</a>
            <a href="https://www.w3schools.com/html/">Conditions</a>
            <a href="https://www.w3schools.com/html/">Cookies</a>
            <a href="https://www.w3schools.com/html/">Politique de confidentialité</a>
            <a href="https://www.w3schools.com/html/">Informations sur la publicité</a>
            <a href="https://www.w3schools.com/html/">Marque</a>
            <a href="https://www.w3schools.com/html/">Application</a>
            <a href="https://www.w3schools.com/html/">Marketing</a>
            <a href="https://www.w3schools.com/html/">Professionnels</a>
            <a href="https://www.w3schools.com/html/">Développeurs</a>
            <a href="https://www.w3schools.com/html/">Annuaire</a>
            <a href="https://www.w3schools.com/html/">Paramètres</a>
        </div>
     <p>© 2019 TinyInsta</p>
    </div>
