<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			 <img src="/images/inta.png" style="width:70%;position:relative;left:100px;" alt="Logo" class="fp">
			<p>Create an account or Login<p/>
				<a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
				<a href="/users/login" class="btn btn-secondary btn-block">Login</a>
		</div>
	</div>
</div>