body {
    max-width: 500px;
    margin: 70px auto;
    background-image: url('../images/globe_2.jpg');
    background-position:center -110px;
    background-size:110% 120%;
    background-color: black;
    background-repeat:no-repeat;
    font-family: "copperplate" ,Mono, monospace;
}

form {border: 0.1px solid none;}

input[type=text], input[type=password] {
    width: 80%;
    font-family: "copperplate" ,Mono, monospace;
    padding: 6px 120px;
    margin: 8px 50px;
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
    top: 70px; left: center;
    box-sizing: border-box;
}

input:required {   
    background-color: black;
    height:40px;
    position:relative;
    top:-5px;
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: "copperplate" ,Mono, monospace;
}

#img_container{
    background-color: black;
    opacity: 0.798;
    padding: 6px 120px;
    margin: -20px 50px;
    display: inline-block;
    color: white;
    text-align: center;
    border: 3px solid gray;
    position: relative;
    top: -40px; left: -100px;
}

#title{
    text-align: center;
    color: #ccffff;
    position: relative;
    top: -30px; left: center;
    font-size: 30px;
    font-family: "copperplate" ,Mono, sans-serif;
}

#title2{
    text-align: center;
    color: #9cAccc;
    position: relative;
    top: -50px; left: center;
    font-size: 16px;
    font-family: "copperplate" ,Mono, serif;
}

a {
    color: #ccffff;
    font-size: 10px;
    font-family: "copperplate" ,Mono, serif; 
    text-decoration: underline;
}
#link {
    color:#20a7dc;
    position: relative;
    top: -2px; left:-15px;
    font-size: 10px;
    font-family: "copperplate" ,Mono, serif; 
    text-decoration:none;
}

#link2 {
    color:#20a7dc;
    position: relative;
    top: -2px; left:-15px;
    font-size: 10px;
    font-family: "copperplate" ,Mono, serif; 
    text-decoration:none;
}

.fp{

    width:20%;
    position:relative;
    top:-32px; left:60px;
}

.signup{

    width:17%;
    position:relative;
    top:-30px; left:50px;
}
.lock{

    width:4.3%;
    position:relative;
    top:-50px; left:-220px;

}

.username{
    width:5.3%;
    position:relative;
    top:-100px; left:-250px;

}

#success_snipet{
    position:relative;
    top:-70px; left:center;
    color: green;

}

#no_cred{
    position:relative;
    top:-70px; left:center;
    color: red;
}

#pass_forgot{
    width:40%;
    border:4px outset #1592b1;
    position:relative;
    top:-100px; left:300px;

}


#register{
    width:40%;
    border:4px outset #1592b1;
    position:relative;
    top:-135px; left:-100px;
}

#bas_de_page {
    width:1170px;
    background-color: black;
    opacity: 0.898;
    border: 3px solid gray;
    white-space: nowrap;
    color: #ccffff;
    position: relative;
    top: 10px; left: -350px;
    font-stretch: expanded;
    font-size: 14px;
    font-family:"copperplate" ,Mono, monospace;
    text-align: center;
}

#text_bas_de_page{
    position:relative;
    display: inline; 
    left:0px;
}

button {
    width: 50%;
    font-height: 8px;
    font-size:14px;
    background-color: #20a7dc;
    color: white;
    padding: 10px 20px;
    margin: 8px 125px;
    position: relative;
    top: -30px; left: center;
    border: none;
    cursor: pointer;
    font-family: "copperplate" ,Mono, monospace;
}

.logo{
    position: relative;
    top:-10px; left:center;
    width:45%;

}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img {
    width: 50%;
    height: 50%;
    position: relative;
    top: 90px; left: center;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    width:150%;
    position:relative;
    top:-95px; left:-100px;
    padding: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
    }