@import 'reset.css';

body{
	background: rgb(25,28,28);
}

 header{
 	width: 100%;
	background: #00050f;
	border: bottom solid #ccc;
	position:fixed;
	top:0; left:0;
	z-index: 20;
}

a{
	box-sizing: border-box;
	width: 25%;
	display: inline-block;
	margin-left: -3px;
	text-align: center;
	padding: 20px;
	color:red;
}

a:hover{
	color:cyan;
}

.fa{
	color:lightgray;
	font-size: 25px;  
}

.commentContainer{
	width: 90%;
	height: 8%;
	position: absolute;
	background-color: rgb(28,31,38);
	color: lightgray;
	overflow: auto;
}
.container{
	background: rgb(25,28,28);
	position: absolute;
	width: 100%;
	top: 50%;
	bottom: 0;

}

.card{
	background:  rgb(28,31,38);
	position: relative;
	top:-270px;left:-25px;
	margin: 0 auto;
	width: 600px;
	height: 710px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.container .card .card-header{
	padding: 25px;
}

.card .profile-log{
	display: inline-block;
	background: #bb0204;
	height: 30px;
	width: 30px;
	border-radius: 50px;
	position: relative;
	top: 3px; 
	margin-right: 5px;
}

.card .profile-separator{
	width: 100%;
	border:5px solid transparent;
}
.card .profile-info{
	display: inline-block;
}

.card .profile-info .name{
	font-size: 14px;
	color: lightgray;
	font-weight: 700;
}

.card .profile-info .location{
	font-size: 16px;
	color:lightgray;
}

.card .time{
	font-family: "Open Sans", sans-serif;
	float:right;
	display: inline-block;
	top: 10px;
	position: relative;
	color: lightgray;
}

.content{
	overflow: auto;
}

.container .card .content img{
	width: auto;
	object-fit: cover;
}

.card-footer{
	padding: 15px;
	box-sizing: border-box;
	overflow: auto;

}

.card-footer .likes{
	color: #47d61c;
	font-size: 12px;
}

.card-footer .description p{
	color: lightgray;
	font-size: 14px;
	margin: 0;

}

section{
	position: relative;
	left: 200px;
}
.card-footer .description .username{
	color:  lightgray;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.card-footer .comments p{
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.card-footer .comments .username{
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.separator{
	border: 180px solid transparent;
}

p{
	margin: 0;
}

.form .heart{
	display: inline-block;
	width: 13%;
	position: relative;
	top: -73px;left: 50px;
}

.form .add-comment{
	display: inline-block;
	width: 60%;
	top: -73px;left: -500px;
	color: red;
}

.form .options{
	display: inline-block;
	width: 15%;
}

#topicName{
	position: relative;
	top: 90px; left: 500px; 
}

#btn_topic{
	position: relative;
	top: 90px; left: 300px; 
	color: lightgray;
}










